/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
 .navbar-static-top {
    z-index: 100;}

ul{
   padding: 0;
   margin: 0;
   vertical-align: bottom;
}

.navbar-nav > li{
   padding-left:20px;
   padding-right:20px;
   list-style-type: none;

 }
 .navbar-nav > li > a {
   position: relative;
   display: block;
   padding: 15px;
 }

 .fade{
    opacity: 1;
 }

.textcontainer {
  position: relative;
  text-align: center;
  color: white;
  font-smoothing: antialiased;
  background-color: #fac564;
}

.title{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  text-align: left;
}

.description{

}
