<p>Search by title:</p>
<input type="text" name="token" value="mica">
<br/>
<br/>
{{ items.title }}
{{ items.description }}
{{ items.title.value }}
{% for product in items %}
     <li>{{ product.title }}</li>
{% endfor %}